
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Chewy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
body{
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: "Poppins", serif;
}
.login-page{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.login-div{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 4rem;
  background-color: #f5f5f5;
  box-shadow: 0 16px 32px #3c3b3b49;
  row-gap: 2rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.login-logo{
  width: 290px;
  font-family: "BioRhyme", serif;
  font-size: 2rem;
  letter-spacing: -2.4px;
  padding: 1rem 6.5rem 1rem 6.5rem;
  background-color: #D8494B;
  color: #f5f5f5;
}
.login-input-div{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1rem;
}
.input-class{
  color: #3c3b3b;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 8px;
  font-family: 'poppins';
  font-weight: 600;
  color: #3c3b3b;
}
.input-class input{
  width: 360px;
  height: 32px;
  padding: 0 0.5rem 0 0.5rem;
  font-weight: 500;
}
.login-btn{
  width: fit-content;
  background-color: #D8494B;
  color: #f5f5f5;
  font-weight: 600;
  padding: 0.625rem 1rem 0.625rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.posting-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.side-bar{
  min-width: 20%;
  height: 100%;
  background-color: #D8494B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.function-div{
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  width: 85%;
  height: auto;
  justify-content: start;
  align-items: center;
  color: #f5f5f5;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  background-color: #D8494B;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: start;
  cursor: pointer;
}
.function-div:hover{
  background-color: #993335;
}
.function-div2{
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  width: 85%;
  height: auto;
  justify-content: start;
  align-items: center;
  color: #D8494B;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: start;
  cursor: pointer;
  border: solid 1px #D8494B;
}

.big-modal{
  width: 79%;
  height: 82vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.504);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.modal{
  width: 30%;
  height: 20rem;
  z-index: 2.5;
  top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  position: absolute;
  box-shadow: 0px 4px 10px #3c3b3b;
  border-radius: 0.25rem;
}
.modal-body{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.75rem;
}
.modal-details{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.2rem;
}
.modal-btn-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  column-gap: 1rem;
}
.main-modal{
  width: 100%;
  height: 85vh;
  top: 3.5rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;
  position: absolute;
  box-shadow: 0px 4px 10px #3c3b3b;
  border-radius: 0.25rem;
}
.transaction-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.page-header{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 0.5px gray;
  margin-top: 0.5rem;
}
.oracle-logo{
  width: fit-content;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem 1rem 2rem;
  color: #ffffff;
  background-color: grey;
}
.user-details{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1.5rem;
}
.name-holder{
  width: fit-content;
  height: auto;
  padding: 1.25rem 2rem 1.25rem 2rem;
  background-color: #d7d7d7;
  font-size: 1rem;
}
.transaction-area-holder{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: fit-content;
  padding: 1rem 0 1rem 0;
  background-color: white;
  box-shadow: 0px 0px 12px rgba(84, 84, 84, 0.729);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.transaction-area{
  width: 100%;
  height: 34rem;
  overflow-y: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  row-gap: 2rem;
}
.transaction-area2{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 2rem;
}
.transaction-div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.transactions-holder{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 0.5rem;
  row-gap: 1rem;
  margin-top: 0.5rem;
}
.transaction-title{
  width: 100%;
  background-color: #d0d9ea;
  color: white;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}
.view-btn{
  border-radius: 10rem;
  padding: 0.25rem 0.35rem 0.25rem 0.35rem;
  border: solid grey 0.5px;
  cursor: pointer;
}
.log-btn{
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: #07634f00;
}
.header{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem 0;
  box-shadow: 0 8px 16px #3c3b3b49;
  background-color: #f5f5f5;
  z-index: 6;
}
.header-logo{
  width: fit-content;
  height: auto;
  background-color: #f5f5f5;
  color: #D8494B;
  font-size: 2.5rem;
  font-family: "BioRhyme", serif;
  font-weight: 700;
  letter-spacing: -2.4px;
  padding: 0 1rem 0 1rem;
}
.header-right-div{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1.75rem;
  padding: 0 2.5rem 0 2.5rem;
}
.header-r-div-elements{
  color: #496AD8;
  column-gap: 0.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side{
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #f5f5f5;
}
.right-main-div{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f5f5f5;
}
.transaction-selection{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 4rem;
  padding: 1.5rem 0rem 0rem 0rem;
  overflow-y: scroll;
}
.transaction-card{
  width: 12rem;
  height: 13rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 3rem 2.75rem 0 2.75rem;
  box-shadow: 0 16px 32px #3c3b3b49;
  border-radius: 1.5rem;
  row-gap: 2.5rem;
  font-size: 1.125rem;
  color: #D8494B;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.transaction-card i{
  font-size: 2.75rem;
}
.transaction-card:hover{
  box-shadow: 0 8px 8px #3c3b3b49;
}
.withdrawal-page{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #f5f5f5;
}
.withdrawal-header{
  width: 100%;
  height: auto;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #D8494B;
  position: relative;
  z-index: 1.25;
}
.withdrawal-details{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 4rem;
}
.auth-input{
  border: 1px solid #A4A4A4;
  background-color: #f5f5f5;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem;
}
.button-div{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 1rem;
}
.button-div button{
  padding: 0.75rem;
}
.transaction-input-part{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.5rem;
  padding-left: 3rem;
}
.input-class{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.25rem;
  color: #6c6c6c;
  font-size: 0.9rem;
  font-weight: 500;
}
.input-class input{
  border: 1px solid #A4A4A4;
  background-color: #f5f5f5;
  width: 17rem;
}
.save-button{
  width: fit-content;
  background-color: #D8494B;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  color: #f5f5f5;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}
.customer-details{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: start;
  align-items: center;
  margin-left: 2rem;
  transition: width linear 1s;
}
.details{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.175rem;
  font-weight: 500;
  color: #3c3b3b;
  font-size: 0.80rem;
}
.detail-labels{
  color: grey;
  font-weight: 400;
}
.transactions-list{
  width: 100%;
  height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow-y: scroll;
  row-gap: 1.5rem;
}
.auth-transfer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 1rem;
  row-gap: 1rem;
}
.transactions-div{
 width: 97%;
 height: 100%;
 overflow-x: scroll;
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: start;
 column-gap: 1.5rem;
 padding-bottom: 1rem;
 padding-left: 0.5rem;
 row-gap: 1rem;
}
.transaction{
  min-width: 23%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 0.5rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  box-shadow: 0 0 6px gray;
  row-gap: 0.5rem;
  border: none;
  padding-bottom: 2.5rem;
  background-color: white;
}
.transaction-heading{
  width: 100%;
  height: auto;
  background-color: #D8494B;
  color: white;
  font-weight: bold;
  padding: 0.75rem 0 0.75rem 0;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.transaction-body{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 1rem;
  row-gap: 0.5rem;
  font-size: 1rem;
}
.transaction-details{
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
  justify-content: start;
  align-items: start;
  font-size: 0.9rem;
}
.transaction-category{
  font-weight: 600;
  font-size: 1.5rem;
  color: grey;
  border-radius: 0.75rem;
}
th, td, tr{
  border: solid 1px rgba(128, 128, 128, 0.527);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
table input{
  height: 1rem;
  width: 3.5rem;
  border: none;
  background-color: white;
  border: 1px rgba(128, 128, 128, 0.77) solid;
}
table{
  border-collapse: collapse;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 0.75rem;
  font-size: 0.7rem;
}
.search-div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-input{
  width: 40%;
  height: 2.5rem;
  border: 1px solid #D8494B;
  padding: 0 0 0 1rem;
  font-size: 1rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.search-div button{
  width: 3rem;
  height: 2.6rem;
  font-size: 1rem;
  color: #f5f5f5;
  background-color: #D8494B;
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
}
.th-header{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem 1.5rem 3rem;
  background-color: #D8494B;
  color: #f5f5f5;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-sizing: border-box;
}
.th-header-details{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: auto;
  height: auto;
  row-gap: 0.25rem;
  font-size: 0.85rem;
}
.th-nav{
  width: 87%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.th-nav button{
  width: 25%;
  height: auto;
  border: none;
  padding: 1rem 0 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #D8494B;
  cursor: pointer;
}
.search-div2{
  width: 87%;
  display: flex;
  flex-direction: start;
  justify-content: start;
}
.search-div2 input{
  width: 19%;
  height: auto;
  font-size: 0.75rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: solid 1px #D8494B;
  font-weight: 500;
  background-color: #f5f5f5;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.search-div2 button{
  padding: 0 1rem 0 1rem;
  font-weight: bold;
  color: #f5f5f5;
  background-color: #D8494B;
  border: none;
  cursor: pointer;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.found-acc-th{
  margin-top: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1.5rem;
  background-color: #f5f5f5;
  padding-bottom: 4rem;
  box-shadow: 0px 4px 10px #3c3b3b7f;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.found-acc-th td,th, tr{
  border: none;
  font-size: 0.9rem;
  color: #515151;
}
.found-acc-th td{
 border-bottom: solid 0.25px #5151515e;
 padding-bottom: 0.5rem;
 font-size: 0.75rem;
}
.table-div{
  max-height: 170px;
  overflow-y: scroll;
}
.mandate-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: start;
  align-items: start;
  column-gap: 7rem;
}
.mandate-details{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1rem;
  font-weight: 600;
}
.mobile-view{
  display: flex;
  width: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem; font-size: 1.5rem;
  height: 100vh;
  color: #606060;
  background-color: #282828;
  font-size: 0.8rem;
  padding: 0 1rem 0 1rem;
}
.branchBatch-functions{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 4rem;
  padding: 1.5rem 0rem 0rem 0rem;
}